{% extends 'base.html' %}
{% block title %}Mooviest{% endblock %}
{% load staticfiles %}
{% block content %}

    <div class="container">
      <div class="content">
        <h3 class="text-center">Empieza ya a disfrutar de nuestras recomendaciones y clasifícalas...</h3>
          <!-- Releases -->
          <div id="releases">
            <div class="row">
              <h2>Últimas películas vistas por los usuarios<i class="fa fa-ticket"></i></h2>
              <div class="hline"></div>
              <br>
              <br>
              <br>
              <div class="col-lg-3 col-md-3">
                <img class="img-responsive" src="https://img.tviso.com/ES/poster/w200/69/57/6957dfd9e7aa62bcc0d05c2f01550b3d.jpg" alt="" />
              </div>
              <div class="col-lg-3 col-md-3">
                <img src="https://img.tviso.com/ES/poster/w200/3b/0b/3b0b4f3794a4d0b35f2fa9769208e2d6.jpg" alt="" />
              </div>
              <div class="col-lg-3 col-md-3">
                <img class="img-responsive" src="https://img.tviso.com/ES/poster/w200/dc/de/dcdecf7123f00b1fb69e8dbab59e1fbf.jpg" alt="" />
              </div>
              <div class="col-lg-3 col-md-3">
                <img class="img-responsive" src="https://img.tviso.com/ES/poster/w200/7b/2b/7b2b0b8c96dd22a4582de651aff8f575.jpg" alt="" />
              </div>
            </div>
          </div>

          <br>
          <br>
          <br>

          <!-- Most popular -->
          <div id="popular">
            <div class="row">
              <h2>Últimas películas favoritas de los usuarios <i class="fa fa-star"></i></h2>
              <div class="hline"></div>
              <br>
              <br>
              <br>
              <div class="col-lg-3 col-md-3">
                <img class="img-responsive" src="https://img.tviso.com/ES/poster/w200/42/a1/42a199505307d8c446730e266b75e44f.jpg" alt="" />
              </div>
              <div class="col-lg-3 col-md-3">
                <img class="img-responsive" src="https://img.tviso.com/ES/poster/w200/42/eb/42eb93fb3afd50f61070436a67b4ad08.jpg" alt="" />
              </div>
              <div class="col-lg-3 col-md-3">
                <img class="img-responsive" src="https://img.tviso.com/ES/poster/w200/60/02/6002ab8e799067f92451999897117025.jpg" alt="" />
              </div>
              <div class="col-lg-3 col-md-3">
                <img class="img-responsive" src="https://img.tviso.com/ES/poster/w200/3f/06/3f06e360a5875ce8ebcc2ada17b364b9.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


{% endblock content %}

{% block javascript%}
{% endblock javascript %}
