venv

mooviest/settings_develop.py
scripts/datos_sin_numero.txt
scripts/lastline.txt
scripts/log.txt
scripts/imds.txt
media/user
*.pyc
*.db

.idea

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
