venv

scripts/datos_sin_numero.txt
scripts/lastline.txt
scripts/log.txt
scripts/imds.txt

*.pyc
*.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
