container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mooviest.settings"
    "PYTHONPATH": "/opt/python/current/app/mooviest:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: ./mooviest/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
  "aws:elb:listener:443":
    SSLCertificateId: arn:aws:acm:eu-west-1:398892089272:certificate/7742e0c6-b8f5-45ff-9cd4-578b415a0ddd
    ListenerProtocol: HTTPS
    InstancePort: 80
