{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %} Setting de usuario {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
{% endblock css %}
{% block content %}
<div class="content">
  <div class="row">
    <div class=" col-md-offset-2 col-md-2" role="nav">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="{% url 'users_settings' %}">{% trans "Personal information" %}</a></li>
        <li role="presentation"><a href="{% url 'users_password' %}">{% trans "Change password" %}</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      {% for error in errors %}
      <p>{{error}}</p>
      {% endfor %}
      <form enctype="multipart/form-data" method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        {% load widget_tweaks %}
        <!-- {{setting_form.as_p }} -->
        <div class="row">
          <div class="col-lg-8">
            <div class="card">
              <div class="cardContainer">
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-6">
                      <center>
                      <img src = "{{ user.profile.avatar.url }}" class="img-circle">
                      </center>
                    </div>
                    <div class="col-lg-6">
                      {% render_field setting_form.avatar type="file" %}
                    </div>
                </div>
                </div>
                <div class="form-group {%if setting_form.username.errors %}has-error{%endif%}">
                  <div class="col-lg-offset-2 col-lg-8 " >
                    <label class="control-label"> {% for error in setting_form.username.errors %} {{error}} {%endfor%}</label>
                    {% trans "Username" as username %}
                    {% render_field setting_form.username type="text" class+="form-control" placeholder=username %}
                  </div>
                </div>
                <div class="form-group {%if setting_form.firstname.errors %}has-error{%endif%}">
                  <div class="col-lg-offset-2 col-lg-8 ">
                    <label class="control-label"> {% for error in setting_form.firstname.errors %} {{error}} {%endfor%}</label>
                    {% trans "Name" as name %}
                    {% render_field setting_form.firstname type="text" class+="form-control" placeholder=name  %}
                  </div>
                </div>
                <div class="form-group {%if setting_form.lastname.errors %}has-error{%endif%}" >
                  <div class="col-lg-offset-2 col-lg-8 ">
                    <label class="control-label"> {% for error in setting_form.lastname.errors %} {{error}} {%endfor%}</label>
                    {% trans "Lastname" as lastname %}
                    {% render_field setting_form.lastname type="text" class+="form-control" placeholder=lastname %}
                  </div>
                </div>
                <div class="form-group {%if setting_form.email.errors %}has-error{%endif%}">
                  <div class="col-lg-offset-2 col-lg-8 ">
                    <label class="control-label"> {% for error in setting_form.email.errors %} {{error}} {%endfor%}</label>
                    {% trans "Email" as email %}
                    {% render_field setting_form.email type="email" class+="form-control" placeholder=email %}
                  </div>
                </div>
                <div class="form-group {%if setting_form.born.errors %}has-error{%endif%}">
                  <div class="col-lg-offset-2 col-lg-8 ">
                    <label class="control-label"> {% for error in setting_form.date.errors %} {{error}} {%endfor%}</label>
                    {% render_field setting_form.born class+="form-control" placeholder="dd/mm/yyyy"%}
                  </div>
                </div>
                <div class="form-group {%if setting_form.gender.errors %}has-error{%endif%}">
                  <div class="col-lg-offset-2 col-lg-8 ">
                    <label class="control-label"> {% for error in setting_form.gender.errors %} {{error}} {%endfor%}</label>
                    <label>{% trans "Gender" %}</label>
                    <br>
                    <label class="radio-inline">
                      {% render_field setting_form.gender type="radio" %}
                    </label>
                  </div>
                </div>
                <div class="form-group {%if setting_form.country.errors %}has-error{%endif%}">
                  <div class="col-lg-offset-2 col-lg-8 ">
                    <label class="control-label"> {% for error in setting_form.country.errors %} {{error}} {%endfor%}</label>
                    {% render_field setting_form.country class="form-control" %}
                  </div>
                </div>
                <div class="form-group {%if setting_form.city.errors %}has-error{%endif%}">
                  <div class="col-lg-offset-2 col-lg-8 ">
                    <label class="control-label"> {% for error in setting_form.city.errors %} {{error}} {%endfor%}</label>
                    {% trans "City" as city %}
                    {% render_field setting_form.city class="form-control" placeholder=city %}
                  </div>
                </div>
                <div class="form-group {%if setting_form.postalcode.errors %}has-error{%endif%}">
                  <div class="col-lg-offset-2 col-lg-8 ">
                    <label class="control-label"> {% for error in setting_form.postalcode.errors %} {{error}} {%endfor%}</label>
                    {% trans "Postal code" as postalcode %}
                    {% render_field setting_form.postalcode class="form-control" placeholder=postalcode %}
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-8 ">
                    <button type="submit" class="btn btn-success btn-block">Guardar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
