{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Setting de usuario {% endblock %}
{% block content %}
<div class="content">
  <div class="row">
    <div class="col-md-4" role="nav">
      <ul class="nav">
        <li><a href="{% url 'users_settings' %}">Información personal</a></li>
        <li><a href="{% url 'users_password' %}">Cambio de contraseña</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      {% for error in errors %}
        <p>{{error}}</p>
      {% endfor %}
      <img src = "{{ user.profile.avatar.url }}">
      <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
          {{setting_form.as_p }}
        <div>
          <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
