{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <title>Mooviest</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static "css/styles.css" %}" >

    </head>

    <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mooviest</a>
        </div>
        <div class="navbar-collapse collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">¿Qué es Mooviest?</a></li>
                <li><a href="#">Estrenos</a></li>
                <li><a href="#">Más populares</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </div>

      {% block content %}{% endblock content %}

    <footer class="footer">
      <div class="container">
        <div class="row">
            <div class="col-lg-4">
              <p><a href="#">Sobre nosotros</a></p>
              <p><a href="#">Contacto</a></p>
              <p><a href="#">Términos del servicio</a></p>
              <p><a href="#">Política de privacidad</a></p>
            </div>
            <div class="col-lg-4">
              <p><a href="#">Estrenos</a></p>
              <p><a href="#">Más populares</a></p>
              <p><a href="#">¿Qué es Mooviest?</a></p>
            </div>
            <div class="col-lg-4">
              <p><a href="#"><img src="twitter.png"></a>
                <a href="#"><img src="facebook.png"></a>
                <a href="#"><img src="google+.png"></a>
                </p>
            </div>
          </div>
        </div>
    </footer>

        <!-- JavaScript -->
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </body>

</html>
