{% load staticfiles %}

@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

html, body {
	background-color: lightgray;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

h2, h3, h4, h5 {
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
}

.content {
	margin-top: 15vh;
	padding: 50px;
}

.carousel .glyphicon {
	color: black;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/* Navbar */
.navbar {
	min-height: 6vh;
	padding-top: 10px;
	margin-bottom: 0px;
}

.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	font-size: 2em;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
	color: white;
	font-size: 1em;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #4d0000;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #4d0000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #4d0000;
	background-color: transparent;
}

.navbar-default {
	background-color: #940123;
	border-color: transparent;
}

.dropdown-menu {
	background: #384452;
}

.dropdown-menu > li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

/* Movie poster stack */
ul.stack {
	position: relative;
	list-style-type: none;
}

.stack {
	height: 500px;
	position: relative;
}

.poster-bottom {
	position: absolute;
	z-index: 0;
}

.poster-top {
	position: absolute;
	z-index: 1;
}

/* Horizontal line */
.hline {
	border-bottom: 2px solid #384452;
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}

/* Footer */
#footerwrap {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #940123;
}

#footerwrap p {
	color: white;
}

#footerwrap h4 {
	color: white;
}

#footerwrap i {
	font-size: 30px;
	color: white;
	padding-right: 25px;
}

#footerwrap i:hover {
	color: #4d0000;
}

/* Sidebars */
.sidebar.left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: white;
}

.sidebar.right {
    margin-top: 80px;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    background: white;
}

.sidebar.bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 400px;
    background: white;
}

.sidebar.top {
    left: 0;
    right: 0;
    top: 0;
    height: 400px;
    background: white;
}

.sidebars > .sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    color: white;
    padding: 30px;
    font-size: 2em;
    text-align: right;
}

/* Round buttons */
.btn-round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btn-round.btn-lg {
    width: 60px;
    height: 60px;
}

.btn-round.btn-sm {
    width: 40px;
    height: 40px;
}

.btn-round.btn-xs {
    width: 30px;
    height: 30px;
}
.profile{
	color: black !important;
	padding:15px 0px !important;
}
