{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ movie.movie.title }} {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'movie/css/styles.css' %}">
{% endblock css %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <img class="backdrop" src="https://static.justwatch.com/backdrop/248288/s1440/the-lord-of-the-rings-the-two-towers" alt="">
        </div>
    </div>

    <div class="container movie-detail">
        <div class="row">
            <div class="content">
                <div class="col-md-3 text-center">
                    <img class="img-responsive poster" src="https://img.tviso.com/ES/poster/w430/{{ movie.image }}" alt="">

                    <form action="change-collection" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                {% if collection = 'watchlist' %}
                                    <button type="submit" name="watchlist" title="Pendiente" id="watchlist" class="btn btn-sm btn-default btn-round watchlist" style="color: orange"><i class="fa fa-plus"></i></button>
                                {% else %}
                                    <button type="submit" name="watchlist" title="Pendiente" id="watchlist" class="btn btn-sm btn-default btn-round watchlist"><i class="fa fa-plus"></i></button>
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                {% if collection = 'not-seen' %}
                                    <button type="submit" name="not-seen" title="No vista" id="not-seen" class="btn btn-sm btn-default btn-round not-seen" style="color: blue"><i class="fa fa-times"></i></button>
                                {% else %}
                                    <button type="submit" name="not-seen" title="No vista" id="not-seen" class="btn btn-sm btn-default btn-round not-seen"><i class="fa fa-times"></i></button>
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                {% if collection == 'seen' %}
                                    <button type="submit" name="seen" title="Vista" id="seen" class="btn btn-sm btn-default btn-round seen" style="color: green;"><i class="fa fa-check"></i></button>
                                {% else %}
                                    <button type="submit" name="seen" title="Vista" id="seen" class="btn btn-sm btn-default btn-round seen"><i class="fa fa-check"></i></button>
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                {% if collection = 'favourite' %}
                                    <button type="submit" name="favourite" title="Favorita" id="favourite" class="btn btn-sm btn-default btn-round favourite" style="color: pink"><i class="fa fa-heart"></i></button>
                                {% else %}
                                    <button type="submit" name="favourite" title="Favorita" id="favourite" class="btn btn-sm btn-default btn-round favourite"><i class="fa fa-heart"></i></button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <br>
                    <br>
                    <br>
                    <h1>{{ movie.movie.original_title }} ({{ movie.movie.released }})</h1>
                    <h4>
                        {% for genre in movie.movie.genres.all %}
                            {{ genre.langs.name }} |
                        {% endfor %}
                    </h4>
                    <h4>{{ movie.movie.average }}</h4>
                    <h4>{{ movie.movie.runtime }} min.</h4>
                    <div>
                        <a href="https://www.youtube.com/watch?v=LbfMDwc4azU" target="_blank">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-play"></i> Ver trailer
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4">
                <h2>Synopsis</h2>
                <div class="hline"></div>
                <br>
                <p>{{ movie.synopsis }}</p>
            </div>
            <div class="col-md-4">
                <h2>Puntuaciones</h2>
                <div class="hline"></div>
                <br>
                {% for rating in movie.movie.rating_set.all %}
                    <p>{{ rating.source }}: {{ rating.rating }}</p>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h2>Ver</h2>
                <div class="hline"></div>
                <br>
                {% for stream in movie.movie.streaming_set.all %}
                    <a href="{{ stream.url }}"><p>{{ stream.name }}</p></a>
                {% endfor %}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12">
                <h2>Reparto</h2>
                <div class="hline"></div>
                <br>
                {% for participation in movie.movie.participation_set.all %}
                    {% if participation.role.code == 'actor' %}
                        <div class="col-md-1">
                            <img class="img-responsive" src="https://img.tviso.com/XX/face/w175{{ participation.celebrity.image }}" alt="{{ participation.celebrity }}">
                            <h4>{{ participation.celebrity }}</h4>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-6">
                <h2>Directores</h2>
                <div class="hline"></div>
                <br>
                {% for participation in movie.movie.participation_set.all %}
                    {% if participation.role.code == 'director' %}
                        <div class="col-md-1">
                            <img class="img-responsive" src="https://img.tviso.com/XX/face/w175{{ participation.celebrity.image }}" alt="{{ participation.celebrity }}">
                            <h4>{{ participation.celebrity }}</h4>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col-md-6">
                <h2>Escritores</h2>
                <div class="hline"></div>
                <br>
                {% for participation in movie.movie.participation_set.all %}
                    {% if participation.role.code == 'writer' %}
                        <div class="col-md-1">
                            <img class="img-responsive" src="https://img.tviso.com/XX/face/w175{{ participation.celebrity.image }}" alt="{{ participation.celebrity }}">
                            <h4>{{ participation.celebrity }}</h4>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-12">
                <h2>Películas similares</h2>
                <div class="hline"></div>
                <br>
                <div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
