.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 150px;
}

.cardContainer{
  padding: 2px 16px;
}

.backdrop {
  position: absolute;
  height: 500px;
  width: 100%;
  margin-top: 6vh;
  object-fit: cover;
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.profile-detail {
  margin-top: 570px;
}

.avatar-wrapper{
  text-align: center;
  position: absolute;
  top: -380px;
  width: 100%;

}
.followButton{
  text-align: center;
  position: absolute;
  top: -100px;
  width: 100%;
}

.movieCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.movieCard:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.movieContainer{
  text-align: center;
  padding: 2px 16px;
}
.followerCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right:10px;
}
.followerCard>img{
  height: 60px;
  width: 60px;
}
.followerContainer{
  padding: 2px 16px;
}
.nav-profile{
  border: none !important;
}
.nav-profile>.active{
  border-bottom: #940123 solid 3px;
  border-top:none;
  border-left: none;
  border-right: none;
}
.nav-profile>.active>a{
  border:none !important;
  color: #940123 !important;
  background: none !important;
}
.nav-profile>li>a:hover{
  border-bottom: #940123 solid 3px;
  border-top:none;
  border-left: none;
  border-right: none;
  color: #940123 !important;
  background: none !important;
}
.nav-profile>li>a{
  color:black !important;
  text-decoration: none !important;
}
.profile-content{
  min-height: 500px;
}
.follow-card-img{
  height: 60px !important;
  width: 60px !important;
}
